/* Color variables */
:root {
    --black:     #333333;
    --red:       #99736e;
    --green:     #78a090;
    --yellow:    #bfb7a1;
    --blue:      #7c9fa6;
    --orange:    #BF9C86;
    --cyan:      #99BFBA;
    --white:     #ffffff;
    --gray:      #999999;
}
